{{template "baseAdmin" .}}

{{define "title"}}{{ .PageTitle }}{{end}}

<div class="admin-users">
    {{ define "adminContent"}}
        <h2>Admin Image Add</h2>
        <form method="POST" enctype="multipart/form-data">
            <div>
                <input type="text" name="image-title" placeholder="Image Title*" required />
                <span>{{.ImageTitleError}}</span>
            </div>
            <div>
                <input type="text" name="image-url" placeholder="Image URL*" required />
                <span>{{.ImageUrlError}}</span>
            </div>
            <div>
                <input type="text" name="image-description" placeholder="Image Description*" required />
                <span>{{.ImageDescriptionError}}</span>
            </div>
            <div>
                <input type="text" name="image-credit" placeholder="Image Credits*" required />
                <span>{{.ImageCreditError}}</span>
            </div>
            <div>
                <input type="datetime-local" name="image-published" required />
                <span>{{.ImagePublishedError}}</span>
            </div>
            <div>
                <input type="datetime-local" name="image-updated" required />
                <span>{{.ImageUpdatedError}}</span>
            </div>
            <div>
                <input type="file" name="image-file" accept="image/png, image/jpeg, image/webp" required />
                <span>{{.ImageFileError}}</span>
            </div>
            <div>
                <input type="submit" name="image-add-new" value="Add new image" />
            </div>
        </form>
    {{end}}
</div>