{{ template "baseAdmin" }}

{{define "title"}}{{.PageTitle}}{{end}}

<div>
    {{ define "adminContent" }}
        <h2>Admin Image Delete</h2>
        {{ if .Images }}
            {{ range .Images }}
            <p>Image ID: {{ .Id }}</p>
            <p>Image Title: {{ .Title }}</p>
            <p>Image Description: {{ .Description }}</p>
            <p>Image Credit: {{ .Credit }}</p>
            <p>Image Url: {{ .Url }}</p>
            <p>Image Published: {{ .Published }}</p>
            <p>Image Updated: {{ .Updated }}</p>
            <div>
                <h2>Edit this image</h2>
                <form method="POST">
                    <div>
                        <input type="submit" name="admin-image-delete" value="Delete this image" />
                    </div>
                </form>
            </div>
            {{ end }}
        {{ else }}
            <h4>No image found</h4>
        {{ end }}
    {{ end }}
</div>