{{template "baseAdmin" .}}

{{define "title"}}{{ .PageTitle }}{{end}}

<div class="admin-users">
    {{ define "adminContent"}}
        <h2>Admin Image Add</h2>
        <form method="POST" enctype="multipart/form-data">
            <div>
                <input type="text" name="image-title" placeholder="Image Title*" />
            </div>
            <div>
                <input type="text" name="image-url" placeholder="Image URL*" />
            </div>
            <div>
                <input type="text" name="image-description" placeholder="Image Description*" />
            </div>
            <div>
                <input type="text" name="image-credit" placeholder="Image Credits*" />
            </div>
            <div>
                <input type="file" name="image-file" accept="image/png, image/jpeg, image/webp" />
            </div>
            <div>
                <input type="submit" name="image-add-new" value="Add new image" />
            </div>
        </form>
    {{end}}
</div>