{{template "baseAdmin" .}}

{{define "title"}}{{ .PageTitle }}{{end}}

<div class="admin-users">
    {{ define "adminContent"}}
        <h2>Admin Guide Delete</h2>
        {{ if .Guides }}
            {{ range .Guides }}
                <p>Guide ID: {{ .Id }}</p>
                <p>Guide Title: {{ .Title }}</p>
                <p>Guide Description: {{ .Description }}</p>
                <p>Guide URL: {{ .Url }}</p>
                <p>Guide Published: {{ .Published }}</p>
                <p>Guide Updated: {{ .Updated }}</p>
            {{ end }}
            <h4>Do you want to delete this guide?</h4>
            <form method="POST">
                <input type="submit" name="admin-guide-delete" value="Delete this guide" />
            </form>
            <a href="/admin/guides">Come back to all guides</a>
        {{ else }}
            <h4>No guide found</h4>
        {{ end }}
    {{end}}
</div>