{{template "baseAdmin" .}}

{{define "title"}}{{ .PageTitle }}{{end}}

<div class="admin-users">
    {{ define "adminContent"}}
        <h2>Admin Guide Add</h2>
        <form method="POST">
            <div>
                <input type="text" name="guide-title" placeholder="Title*" required />
                <span>{{.TitleError}}</span>
            </div>
            <div>
                <input type="text" name="guide-description" placeholder="Description*" required />
                <span>{{.DescriptionError}}</span>
            </div>
            <div>
                <input type="text" name="guide-url" placeholder="URL*" required />
                <span>{{.UrlError}}</span>
            </div>
            <div>
                <input type="datetime-local" name="guide-published" required />
                <span>{{.PublishedError}}</span>
            </div>
            <div>
                <input type="datetime-local" name="guide-updated" required />
                <span>{{.UpdatedError}}</span>
            </div>
            <div>
                <textarea name="guide-content"></textarea>
                <span>{{.ContentErorr}}</span>
            </div>
            <div>
                <input type="submit" name="guide-add" value="Add new guide" />
            </div>
        </form>
    {{end}}
</div>