<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login Page</title>
</head>
<body>
    <section class="admin-login">
        <form method="POST">
            <div class="admin-login__form-wrapper">
                <div class="admin-login__container-email">
                    <input type="text" name="email" placeholder="email*">
                    <span>{{.EmailValidation}}</span>
                </div>
                <div class="admin-login__container-password">
                    <input type="password" name="password" placeholder="password*">
                    <span>{{.PasswordValidation}}</span>
                </div>
                <div class="admin-login__container-submit">
                    <input type="submit" name="login" value="login">
                </div>
            </div>
        </form>
    </section>
</body>
</html>