{{template "base" .}}

{{define "title"}}{{.PageTitle}}{{end}}
{{define "description"}}<meta name="description" content="{{.PageDescription}}">{{end}}

{{ define "content"}}
<div class="guide">
    {{ if .Guide }}
        <div class="guide__content">
            <div class="guide__content-container-title">
                <h1 class="h1">{{ .Guide.Title }}</h2>
            </div>
            <div class="content">
                {{ .GuideContentRaw }}
            </div>
        </div>
    {{ else }}
        <h4>Guide no found</h4>
    {{ end }}
</div>
{{end}}