{{template "base" .}}

{{define "title"}}{{.PageTitle}}{{end}}

{{ define "content"}}
<div class="guide">
    {{ if .Guide }}
        <div class="guide__content">
            <div class="guide__content-container-title">
                <h1 class="h1">{{ .Guide.Title }}</h2>
            </div>
            <div class="guide__content-container-content">
                {{ .GuideContentRaw }}
            </div>
        </div>
        <!-- <p>Guide Title: {{ .Guide.Title }}</p>
        <p>Guide Description: {{ .Guide.Description }}</p>
        <p>Guide URL: {{ .Guide.Url }}</p>
        <p>Guide Published: {{ .Guide.Published }}</p>
        <p>Guide Updated: {{ .Guide.Updated }}</p> -->
    {{ else }}
        <h4>Guide no found</h4>
    {{ end }}
</div>
{{end}}