{{template "base" .}}

{{define "title"}}{{.PageTitle}}{{end}}

{{ define "content"}}
<div class="guide-archive">
    <div class="guide-archive__container-title">
        <h2 class="h2">Guides</h2>
        <h4 class="h4">Larn Go programming language step-by-step</h4>
    </div>
    <div class="guide-archive__container-articles">
        {{ if .Guides }}
            <ol>
                {{ range .Guides }}
                    <li class="guide-archive__menu-item p-xl"><a class="link" href="/guide/{{ .Url }}">{{ .Title }}</a></li>
                {{ end }}
            </ol>
        {{ else }}
            <h4 class="h4">No guide found</h4>
        {{ end }}
    </div>
</div>
{{end}}