# Node Modules
node_modules

# .env
.env

# Images
public/images/*
!public/images/.gitignore
!public/images/devwithgo-tutorials.webp
!public/images/go-with-quill-rich-text-editor.webp
!public/images/go-with-quill-rich-text-editor-application.webp
!public/images/go-with-quill-rich-text-editor-application-with-content.webp
!public/images/go-official-logo-black.svg
!public/images/go-and-excel.webp
!public/images/go-and-excel-courses-table.webp
!public/images/go-and-excel-books-table.webp