{{template "base" .}}

{{define "title"}}{{.PageTitle}}{{end}}
{{define "description"}}<meta name="description" content="{{.PageDescription}}">{{end}}

{{ define "content"}}
<div class="home">
    <div class="home__container-guide">
        <h2 class="home__guide-title h2">Learn Go step-by-step with our guides</h2>
        <p class="home__guide-description h4">Learn Go programming quickly and easily. Our step-by-step guides make it simple</p>
        <a class="button" href="/guides/guides">Guides</a>
    </div>
</div>
{{end}}