/**
* Create a mixin that works for
* media queries in the following breakpoints:
*           xs
*           sm
*           md
*           lg
*           xl
*           xxl
*
* This project follow the logic of responsive-design
*/
.admin-user-add {
  border: 1px solid #d00; }

.base-admin {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "base-admin__sidebar base-admin__content";
  border: 1px solid #d00; }
  @media only screen and (max-width: 991px) {
    .base-admin {
      grid-template-columns: 1fr 2fr; } }
  @media only screen and (max-width: 767px) {
    .base-admin {
      grid-template-columns: 1fr;
      grid-template-areas: "base-admin__sidebar" "base-admin__content";
      border: 1px solid #00d; } }
  .base-admin__sidebar {
    grid-area: base-admin__sidebar;
    border: 1px solid #000; }
  .base-admin__content {
    grid-area: base-admin__content;
    border: 1px solid #00d; }

* {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

.button {
  font-size: 2rem;
  font-weight: 900;
  text-decoration: none;
  color: #000;
  background-color: #00add8;
  padding: 1rem 2rem;
  border-radius: 0 25px 0 25px; }
  .button:hover {
    color: #00add8;
    background-color: #fff;
    box-shadow: 10px 5px 5px #00add8;
    border: 1px solid #00add8; }

.h1 {
  font-size: 4rem; }

.h2 {
  font-size: 3.5rem; }

.h3 {
  font-size: 3rem; }

.h4 {
  font-size: 2.5rem; }

.p-xl {
  font-size: 2.3rem; }

.p-lg {
  font-size: 2rem; }

.p-md {
  font-size: 1.8rem; }

.p {
  font-size: 1.6rem; }

.p-sm {
  font-size: 1.4rem; }

.link-no {
  color: #000;
  text-decoration: none; }

.header {
  padding: 2rem 2rem 5rem 2rem;
  background-color: #00add8; }
  .header__nav {
    text-align: center;
    margin-bottom: 3rem; }
  .header__nav-menu {
    list-style: none; }
  .header__nav-menu-item {
    display: inline-block;
    padding: 2rem; }
  .header__container-content {
    text-align: center;
    margin: auto; }
  .header__logo {
    font-size: 10rem; }
    @media only screen and (max-width: 575px) {
      .header__logo {
        font-size: 6rem; } }
  .header__title {
    font-size: 6rem; }
    @media only screen and (max-width: 575px) {
      .header__title {
        font-size: 3rem; } }

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 5rem;
  background-color: #00add8; }
  .footer__container-content {
    text-align: center; }
  .footer__heart {
    font-size: 2rem;
    color: #d00; }

.home {
  height: 50vh;
  padding: 5rem; }
  .home__guide-title {
    margin-bottom: 2rem; }
  .home__container-guide {
    text-align: center; }
