<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/main.css">
    <title>{{template "title" .}}</title>
    {{template "description" .}}

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J6HG4D0VJ3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-J6HG4D0VJ3');
    </script>
</head>
<body>
    <header class="header">
        <nav class="header__nav">
            <ul class="header__nav-menu">
                <li class="header__nav-menu-item">
                    <a class="link-no p-lg" href="/">Home</a>
                </li>
                <li class="header__nav-menu-item">
                    <a class="link-no p-lg" href="/guides/guides">Guides</a>
                </li>
            </ul>
        </nav>
        <div class="header__container-content">
            <h1 class="header__logo">Dev With GO</h1>
            <h2 class="header__title">{{.PageTitle}}</h2>
        </div>
    </header>
    <main>
        {{template "content" .}}
    </main>
    <footer class="footer">
        <div class="footer__container-content">
            <p class="p">Made with <span class="footer__heart">&hearts;</span>, using GO - &copy; {{.CurrentYear}} - All rights reserved</p>
        </div>
    </footer>
</body>
</html>