{{template "base" .}}

{{define "title"}}{{.PageTitle}}{{end}}
{{define "description"}}<meta name="description" content="{{.PageDescription}}">{{end}}

{{ define "content"}}
<div class="tutorial">
    {{ if .Tutorial }}
        <div class="tutorial__content">
            <div class="tutorial__content-container-title">
                <h1 class="h1">{{ .Tutorial.Title }}</h2>
            </div>
            <div class="tutorial__content-raw content">
                {{ .TutorialContentRaw }}
            </div>
            <div class="tutorial__container-image">
                <img class="tutorial__image" src="/public/images/{{ .Tutorial.ImageUrl }}" alt="{{ .Tutorial.ImageAlt }}">
            </div>
        </div>
    {{ else }}
        <h4>Tutorial no found</h4>
    {{ end }}
</div>
{{end}}