{{template "base" .}}

{{define "title"}}{{.PageTitle}}{{end}}
{{define "description"}}<meta name="description" content="{{.PageDescription}}">{{end}}

{{ define "content"}}
<div class="tutorial-archive">
    <div class="tutorial-archive__container-title">
        <h2 class="h2">Go tutorials: learn how to code in Golang creating projects</h2>
        <h3 class="h4">Master the Go programming language through project-based learning, helping you master essential concepts and practical skills for building applications in Golang</h3>
    </div>
    <div class="tutorial-archive__container-articles">
        {{ if .Tutorials }}
            {{ range .Tutorials }}
                <div class="article-card tutorial-archive__article-card">
                    <a href="/tutorial/{{ .Url }}" class="link-no">
                        <div class="article-card__wrapper">
                            <div class="article-card__container-image">
                                <img class="article-card__image" src="/public/images/{{ .ImageUrl }}" alt="{{ .ImageAlt }}" />
                            </div>
                            <div class="article-card__container-content">
                                <h2 class="article-card__content-title h2">{{ .Title }}</h2>
                                <p class="article-card__content-description p-lg">{{ .Description }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {{ end }}
        {{ else }}
            <h4 class="h4">No tutorial found</h4>
        {{ end }}
    </div>
</div>
{{end}}