.base-admin {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
    "base-admin__sidebar base-admin__content";

    @include respond("lg") {
        grid-template-columns: 1fr 2fr;
    }

    @include respond("md") {
        grid-template-columns: 1fr;
        grid-template-areas:
        "base-admin__sidebar"
        "base-admin__content";
        border: 1px solid #00d;
    }

    &__sidebar {
        grid-area: base-admin__sidebar;
        padding: 2rem 0;
        border-right: 1px solid $black;
        border-bottom: 1px solid $black;
    }

    &__wrapper {}

    &__sidebar-element {
        padding: 1rem;
        border-bottom: 1px solid $black;

        &:last-child {
            border-bottom: none;
        }
    }

    &__content {
        grid-area: base-admin__content;
    }
}