<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/main.css">
    <title>{{template "title" .}}</title>
</head>
<body>
    <main class="base-admin">
        <sidebar class="base-admin__sidebar">
            <div class="base-admin__sidebar-wrapper">
                <div class="base-admin__sidebar-element">
                    <h2 class="h2">Dev With GO</h2>
                </div>
                <div class="base-admin__sidebar-element">
                    <p class="p-lg"><a class="link-no" href="/">Back to the website</a></p>
                </div>
                <div class="base-admin__sidebar-element">
                    <p class="p-lg"><a class="link-no" href="/admin/dashboard">Dashboard</a></p>
                </div>
                <div class="base-admin__sidebar-element">
                    <p class="p-lg"><a class="link-no" href="/admin/users">Users</a></p>
                </div>
                <div class="base-admin__sidebar-element">
                    <p class="p-lg"><a class="link-no" href="/admin/user-add">Add Users</a></p>
                </div>
                <div class="base-admin__sidebar-element">
                    <p class="p-lg"><a class="link-no" href="/admin/guides">Guides</a></p>
                </div>
                <div class="base-admin__sidebar-element">
                    <p class="p-lg"><a class="link-no" href="/admin/guide-add">Add Guide</a></p>
                </div>
                <div class="base-admin__sidebar-element">
                    <p class="p-lg"><a class="link-no" href="/admin/image-add">Add Image</a></p>
                </div>
                <div class="base-admin__sidebar-element">
                    <p class="p-lg"><a class="link-no" href="/admin/login">Logout</a></p>
                </div>
            </div>
        </sidebar>
        <section class="base-admin__content">
            {{template "adminContent" .}}
        </section>
    </main>
</body>
</html>