// Button
.button {
    font-size: 2rem;
    font-weight: 900;
    text-decoration: none;
    color: $black;
    background-color: $blueGO;
    padding: 1rem 2rem;
    border-radius: 0 25px 0 25px;

    &:hover {
        color: $blueGO;
        background-color: $white;
        box-shadow: 10px 5px 5px $blueGO;
        border: 1px solid $blueGO;
    }
}

// Content tags
.h1 {
    font-size: 4rem;
}

.h2 {
    font-size: 3.5rem;
}

.h3 {
    font-size: 3rem;
}

.h4 {
    font-size: 2.5rem;
}

.p-xl {
    font-size: 2.3rem;
}

.p-lg {
    font-size: 2rem;
}

.p-md {
    font-size: 1.8rem;
}

.p {
    font-size: 1.6rem;
}

.p-sm {
    font-size: 1.4rem;
}

// Link
.link-no {
    color: $black;
    text-decoration: none;
}