.tutorial-archive {
    padding: 5rem;

    @include respond("md") {
        padding: 5rem 1rem;
    }

    &__container-title {
        text-align: center;
        margin-bottom: 5rem;
    }

    &__container-articles {}

    &__article-card {
        margin-bottom: 5rem;
    }
}