.codeblock {
    margin: 2rem auto;

    &__code-file {
        font-size: 2rem;
    }

    &__wrapper {
        font-size: 2rem;
        color: $white;
        background-color: $black;
        overflow: auto;
    }

    &__wrapper::-webkit-scrollbar {
        display: none;
    }

    &__wrapper {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    &__container {
        padding: 0 1rem;
    }
}