.codeblock {
    margin: 2rem auto;

    &__container-code-file {
        background-color: $blueGO;
        padding: 1rem;
        border-radius: 10px 10px 0 0;
    }

    &__code-file {
        font-weight: 900;
    }

    &__code-file {
        font-size: 2rem;
    }

    &__wrapper {
        font-size: 2rem;
        background-color: $black;
        overflow: auto;
        border-style: solid;
        border-width: 0 1px 1px 1px;
        border-color: $blueGO;

    }

    &__wrapper::-webkit-scrollbar {
        display: none;
    }

    &__wrapper {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    &__container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__lines {
        color: #b8bdc6;
        background-color: $white;
        padding: 1rem .5rem 1rem 0;
    }

    &__pre {
        color: $white;
        background-color: $black;
        padding: 1rem;
    }
}