.codeblock {
    margin: 2rem auto;

    &__code-file {
        font-size: 2rem;
    }

    &__wrapper {
        font-size: 2rem;
        background-color: $black;
        overflow: auto;
    }

    &__wrapper::-webkit-scrollbar {
        display: none;
    }

    &__wrapper {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    &__container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__lines {
        color: $black;
        background-color: $white;
        padding: 1rem .5rem 1rem 0;
    }

    &__pre {
        color: $white;
        background-color: $black;
        padding: 1rem;
    }
}