.terminal {
    margin: 2rem auto;

    &__container-code-file {
        background-color: $blueGO;
        padding: 1rem;
        border-radius: 10px 10px 0 0;
    }

    &__code-file {
        font-weight: 900;
    }
    
    &__wrapper {
        font-size: 2rem;
        color: $white;
        background-color: $black;
        padding: 1rem;
        overflow: auto;
    }

    &__wrapper::-webkit-scrollbar {
        display: none;
    }

    &__wrapper {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    &__grey {
        color: #8b949e;
    }
}